<div class="home_container">
    <app-card
    gameCover="assets/spider.jpeg"
    gameLabel="lancamento Exclusivo"
    gamePrice="R$ 349,99"
    gameType="PS5"></app-card>
    
    <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Disponivel no eaPlay"
    gamePrice="R$ 99,99"
    gameType="PS5"></app-card>
    
    <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Disponivel no eaPlay"
    gamePrice="R$ 199,99"
    gameType="PS5"></app-card>
    
    <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="Promocao halloween"
    gamePrice="R$ 49,99"
    gameType="PS4"></app-card>
    
</div>